################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/tidago.apofc
*.dll
*/bin/debug
*/bin/release
*/obj/debug
*/obj/release
